/* Formatting across the entire page */

body {
    background-color: aliceblue;
}
a {
    color: blue;
    display: block;
    width: max-content;
    margin: auto;
}
textarea {
    resize: vertical;
    font-size: inherit;
    font-family: inherit;
}
h1 {
    text-align: center;
}

/* Formatting the header forms */

header {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
header > * {
    padding: 20px;
}
form > * {
    margin: 5px;
    display: inline-block;
}
#form-content {
    padding: 10px;
    width: 95%;
    margin-top: 0;
    background-color: white;
    border: solid 1px;
}
form > input, form > button {
    background-color: white;
    border: solid 1px;
    padding: 5px;
}
#form-links > label {
    width: 70px;
    text-align: right;
}
.link-button {
    width: 80px;
}

/* Formatting anything inbetween */

#form-submit {
    display: block;
    margin-inline: auto;
    background-color: rgb(224, 241, 255);;
    padding: 5px;
    width: 80px;
}
#form-submit:hover {
    background-color: green
}
select {
    appearance: none;
    width: 300px;
    height: 100%;
    padding: 5px;
    padding-left: 10px;
}
.select-wrapper > *{
    font-size: 17px;
}
.select-wrapper {
    position: relative;
    margin: 20px auto;
    margin-bottom: 10px;
    width: 300px;
}
.select-wrapper::after {
    content: "\25BC";
    font-size: 1rem;
    top: 27px;
    right: 10px;
    position: absolute;
}


/* Formatting the main workspace */

main{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* Formatting a card */

.note-card {
    width: 250px;
    float: left;
    background-color: lightblue;
    padding: 15px;
    border: 2px;
    border-radius: 25px;
    margin: 15px;
    text-align: center;
}
.note-card > * {
    margin-block: 10px;
    padding: 5px;
    width: 240px;
}
.note-card > button {
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    background-color: rgb(206, 232, 255);
    transition-duration: 0.4s;
}
.note-image {
    width: 250px;
    padding: 0px;
    margin: 0px;
    margin-block: 5px;
}
.delete-card:hover {
    background-color: red;
}
.edit-card:hover {
    background-color: blue;
}
.submit-card:hover {
    background-color: green
}
.note-card > textarea {
    text-align: center;
    border: 0px;
    background-color: aliceblue;
}
.edit-text {
    margin: 0px;
}
.edit-image {
    margin-block: 5px;
}
.highlight {
    background-color: yellow;
}