body {
    background-color: aliceblue;
}

.highlight {
    background-color: yellow;
}
.note-card {
    width:250px;
    float:left;
    background-color: lightblue;
    padding: 15px;
    border: 2px;
    border-radius: 25px;
    margin: 15px;
}
.note-text {
    width: 250px;
    padding: 5px;
}
.note-image {
    width: 250px;
}
a {
    color: blue;
}
#form-content {
    inline-size: -webkit-fill-available;
}
#links-display {
    display: flex;
    /* background-color:aliceblue; */
    border-radius: 20px;
    border: 2px;
}
#links-display li {
    padding-right: 20px;
}
.note-links-list {
    margin-block-start: 1em;
    margin-block-end: 1em;

}
select {
    appearance: none;
    width: 300px;
    height: 100%;
    padding: 5px;
    padding-left: 10px;
}
.select-wrapper > *{
    font-size: 17px;
}
.select-wrapper {
    position: relative;
    margin: 20px auto;
    margin-bottom: 10px;
    width: 300px;
}
.select-wrapper::after {
    content: "\25BC";
    font-size: 1rem;
    top: 27px;
    right: 10px;
    position: absolute;
}
textarea {
    resize: vertical;
    font-size: inherit;
    font-family: inherit;
}
.edit-text {
    width: 250px;
    border: 0px;
    padding: 5px;
    background-color: aliceblue;
}
.edit-image {
    width: 250px;
    border: 0px;
    padding: 5px;
    background-color: aliceblue;
}
